.Navbar {
  display: flex;
  justify-content: space-between;
  height: 80px;
  border-bottom: 1px solid var(--root-color);
  width: 100%;
  align-items: center;
  padding: 0 10%;
}

.Logo {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  color: var(--root-color) !important;
}

.LoginBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: var(--root-color);
  border: 2px solid var(--root-color);
  width: 120px;
  height: 30px;
  transition: 0.2s;
}

.LoginBtn p {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}

/* .LoginBtn:hover { */
    /* background: rgb(20, 122, 0); */
/* } */

.profileInfo {
  display: flex;
  align-items: center;
}

.profileInfo img {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  object-fit: cover;
}

.logoutBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: var(--root-color);
  border: 2px solid var(--root-color);
  width: 100px;
  height: 30px;
  transition: 0.2s;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  margin-left: 10px;
}
