.container {
    padding: 50px 10% 0 10%;
}

.greetings {
    width: 100%;
    border-radius: 5px;
    padding: 30px;

}

.greetingsDev {
    background: #f3e6f5;
    color: #4f0062;
}

.greetingsEmp {
    background: #e6ecf5;
    color: #1d0062;
}

.greetingsEmp div {
    justify-content: flex-start !important;
}

.findWorkBtn {
    background: var(--root-color);
    color: #fff;
    border: none;
    width: 150px;
    height: 35px;
    border-radius: 15px;
    font-family: var(--root-font);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.createTaskBtn {
    background: #3f1a95;
    color: #fff;
    border: none;
    width: 150px;
    height: 35px;
    border-radius: 15px;
    font-family: var(--root-font);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 10px;
}

.greetings div {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 50px;
}

.greetings div a {
    text-decoration: underline;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.greetings span {
    font-family: 'Segoe UI';
}
.searchWorkForm {
    width: 50%;
}

.searchWorkForm input{
    width: 100%;
    margin-bottom: 20px;
    height: 30px;
    border: 1px solid #cbaad7;
    border-radius: 5px;
    padding-left: 5px;
}

.searchWorkForm input::placeholder {
    font-family: var(--root-font);
}

.empTasksSection {
    width: 100%;
}

.sectionHeader {
    margin-bottom: 50px;
}

.taskCard {
    display: flex;
    flex-direction: column;
    border: 1px solid #d2d2d2;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
    width: 100%;
}

.TaskCardHeader {
    display: flex;
    justify-content: space-between;
}

.taskCard div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.proposalPageBtn {
    background: var(--root-color);
    color: #fff;
    border: none;
    width: 150px;
    height: 35px;
    border-radius: 15px;
    font-family: var(--root-font);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.taskStatistics {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.taskStatistics button {
    background: #3f1a95;
    border: none;
    color: #fff;
    width: 150px;
    height: 35px;
    border-radius: 15px;
    font-family: var(--root-font);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.taskStatistics ul {
    display: flex;
    padding: 0;
}

.taskStatistics ul li {
    list-style-type: none;
    /* border-right: 1px solid; */
    margin-right: 20px;
}

.stat {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.stat h4 {
    margin: 0 0 20px 0;
    color: #434343;
}

.skillsList {
    display: flex;
    padding: 0;
}

.skillsList li {
    list-style-type: none;
    margin-right: 10px;
    background: var(--root-color);
    color: #fff;
    padding: 5px;
    border-radius: 20px;
    font-size: 13px;
    min-width: 50px;
    text-align: center;
}
