@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

::selection {
  background: #8707e8;
  color: #fff;
}

:root {
  --root-color: #8400cb;
  --root-font: 'Josefin Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
